@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Marmelad';
  --font-special: 'Saira';
  --font-comfortaa: 'Comfortaa';
  --font-logo: 'Exo 2';

  --color-darkBgStart: #020817;
  --color-darkBgEnd: #071330;

  --color-lightBgEnd: #5c92b5;
  --color-lightBgStart: #e3f4ff;
  --color-darkText: #ffffff;
  --color-lightText: #000000;

  --color-darkSecondary: #0d1828;
  --color-lightSecondary: #5c92b5;
  --color-darkButton: black;
}
:root {
  --purpleShadow: 0px 0px 20px 0px rgba(70, 40, 180, 0.7);
  --cyanShadow: 0px 0px 20px 0px rgba(94, 206, 220, 0.5);
}
